<% if current_user %>
<h3>Welcome: <%= current_user.email %></h3>
<% else %>
  <div class="jumbotron">
    <h2 class="display-4">Welcome to the Photo Management App!</h1>
    <p class="lead">You'll love managing your Phots with our application. Sign up!</p>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-2 plan">
      <h3>Premium Plan</h3>
      <ul>
        <li>Unlimited Image Uploads</li>
        <li>Responsive design</li>
        <li>Access anywhere</li>
        <br>
        <li>Price: $10</li>
      </ul>
      <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary' %>
    </div>
    <div class="col-md-4 plan">
      <h3>Amaze Plan</h3>
      <ul>
        <li>Unlimited Image Uploads</li>
        <li>Responsive design</li>
        <li>Access anywhere</li>
        <li>Unlimited projects</li>
        <li>Price: $20</li>
      </ul>
      <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>