@import 'bootstrap/dist/css/bootstrap';

.alert { margin-top: 10px;}

.navbar { margin-bottom: 15px; }

.user-name {
  margin-top: 5px;
  margin-right: 10px;
}

.user-name a {
  text-decoration: none;
  color: black;
}