@import 'bootstrap/dist/css/bootstrap';

/* main_color #ff6b81 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
}

.alert { margin-top: 10px;}

.navbar { margin-bottom: 15px; }

.user-name {
  margin-top: 5px;
  margin-right: 10px;
}

.user-name a {
  text-decoration: none;
  color: black;
}

.jumbotron {
  background-image: linear-gradient(rgba(54, 54, 54, 0.815), rgba(59, 59, 59, 0.795)),url('hero.jpg');
  background-size: cover;
  background-position: bottom;
  color: #fff;
  font-family: Oswald;
  font-stretch: expanded;
  letter-spacing: 1px;
  text-align: center;
}

.plan ul {
  list-style-position: inside;
}
